<!DOCTYPE html>
<html>
    <head>
        <title>YelpCamp</title>
        <link rel="stylesheet" href="https://maxcdn.bootstrapcdn.com/bootstrap/3.3.5/css/bootstrap.min.css">
        <link rel="stylesheet" href="stylesheet/landing.css">
        
    </head>
    <body>
        
        
    <div id="header" >
        <h1>Welcome to YelpCamp!!!!!!</h1>
        <h4><a href="/campgrounds">All Campground</a></h4>
    </div>
    
    <ul id="slideshow">
      <li></li>
      <li></li>
      <li></li>
      <li></li>
      <li></li>
    </ul>

<% include partials/footer %>